.init-wrapper{
  .initial-section{
    background: url(/entrance.png);
    background-size: cover;
    background-position: center;
    margin: 50px 100px;
    height: 100vh;
  }
  .presentation{
    height: 100dvh;
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Syne', serif;
    font-size: 2.5rem;
  }

  h1{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
  } h1 > img{
    height: 70px;
  }
}