.init-wrapper{
  .home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
  }

  h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Syne';
    font-weight: 700;
  }

  .highlight-home{
    font-size: 3.9rem;
    margin-top: -3vh;
  }

  .highlight-text{
    font-size: 3.7rem;
    font-family: 'Libre Caslon Text';
    font-weight: 200;
    font-style: italic;
  }

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    gap: 0.2vw;

    img{
      margin-top: -2px;
      width: 50px;
      height: 50px;
    }

    h1{
      font-size: 2.4rem;
      font-family: 'Syne';
      font-weight: 700;
    }
  }

  .bold{
    font-weight: 900;
  }
}